/* @import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');

*{
    /* font-family: 'Arvo', serif; */
	font-family: 'Montserrat', sans-serif;
}

body{
    background-image: url("../assets/background_image.jpg");
    background-size: cover;
}

marquee{
    color: aqua;
    background-color: blue;
    border: 5px solid red;
    font-family: cursive;
}

marquee sup{
    color: aqua;
    font-family: cursive;
}

nav{
    background-color: rgba(0, 153, 255, 0.164);
    padding: 20px;
    border-radius: 40%;
}

header{
    text-align: center;
}

main{
    text-align: center;
}

footer{
    text-align: right;
}

.post_links{
    text-align: left;
}

.latest_projects_heading{
    text-align: left;
}

body{
    animation: fade 2s ease forwards;
}

@keyframes fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
