body
{
    background-color: lime;
}
h1
{
    color: purple;
    font-family: Arial;
}
p
{
    color: mediumblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
ul
{
    color: mediumblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
button
{
    cursor: pointer;
}
